{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BAJAJ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Product Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-0 gx-5 align-items-end">
              <div class="col-lg-6">
                  <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                      <img src="{% static 'tvs-logo-33710.png' %}" alt="" style="height: 50px; width: 250px;">
                      
                  </div>
              </div>
              
          </div>
          <div class="tab-content">
              <div id="tab-2" class="tab-pane fade show p-0 active">
                  <div class="row g-4">
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'Apache rr310.png' %}" alt="" style="height: 200px; ">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">Apache RR310</a>
                                  <span class="text-primary me-1">₹ 2,68,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'Apache rtr200 4v.png' %}" alt="" style="height: 200px;">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">Apache RTR200</a>
                                  <span class="text-primary me-1">₹ 1,38,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'apache 1602v.png' %}" alt=""style="height: 200px;">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">Apache RTR160 2V</a>
                                  <span class="text-primary me-1">₹ 1,88,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'radeon.png' %}" alt="" style="height: 200px;">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">TVS Radeon 110</a>
                                  <span class="text-primary me-1">₹ 1,68,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'jupiter (3).png' %}" alt="" style="height: 200px; width: 150px;">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">Jupiter Classic 125</a>
                                  <span class="text-primary me-1">₹ 2,68,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'zest.png' %}" alt=""style="height: 200px;" >
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">TVS Zest 110</a>
                                  <span class="text-primary me-1">₹ 1,28,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'wego.png' %}" alt="" style="height: 200px;">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">Bajaj Platina 110</a>
                                  <span class="text-primary me-1">₹ 98,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                          <div class="product-item">
                              <div class="position-relative bg-light overflow-hidden">
                                  <img class="img-fluid w-100" src="{% static 'ntorq.png' %}" alt="" style="height: 200px;">
                                  <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">⭐4.5 </div>
                              </div>
                              <div class="text-center p-4">
                                  <a class="d-block h5 mb-2" href="{% url 'emailotp' %}">Bajaj CT100</a>
                                  <span class="text-primary me-1">₹ 88,708<br>

Ex-Showroom price</span>
                                  
                              </div>
                              <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                          <a class="btn btn-primary rounded-pill py-2 px-5" href="{% url 'emailotp' %}">Apply Loan</a>
                      </div>
                          </div>
                      </div>
                      <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Browse More Bikes</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Product End -->

</body>
</html>